.page-not-found {
    background-image: url("https://www.designrush.com/uploads/users/customer-11/image_1530905677_TfTLA1D0ueXh4hOj8hb4zpbDxjpm8jnMoINOk5uu.jpeg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
